# Ignore dev files
to_do.md
production.md
new_features.md
dev/*
test.*
environment.yml
tutorials/*.csv
tutorials/figures/*
tutorials/new_interp*.png
tutorials/*parquet*.py
tutorials/adhish.ipynb

# Docker ignore
Dockerfile
*.dockerignore
docker-compose.yml

# Ignore documentation build directories
docs/_build/
docs/build/

# Ignore data files
data/*
database/contrib_to_do.md

# Ignore testing files
testing/*
tutorials/Data_Cleaning.ipynb
tutorials/*.json
presentations/*
tutorials/dev*
tutorials/shot*.png

# Ignore operating system files
.DS_Store
Thumbs.db

# Ignore editor and IDE files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore build output and compiled files
/build/
/dist/
/out/
/bin/
*.exe
*.dll
*.so
*.dylib

# Ignore package manager directories
/node_modules/
/bower_components/

# Ignore log files and temporary files
*.log
*.tmp
*.swp

# Ignore environment-specific files
.env
.env.local
.env.test
.env.production

# Ignore sensitive or personal information
secrets.yml
secrets.json
*.key

# Ignore database files
*.sqlite
*.db

# Ignore dependencies and lock files
/yarn.lock
/package-lock.json
/composer.lock

# Ignore macOS specific files
.AppleDouble
.LSOverride

# Ignore system-specific files
Icon
Thumbs.db
ehthumbs.db
Desktop.ini

# Ignore custom ignore file
.ignore

# Ignore python cache files
__pycache__/
__pycache__/*
*.py[cod]

# cache files
squadds/joblib_cache/*

# Ignore conda environment
.conda/*
.conda

# Ignore build files
build/
dist/
*.egg-info/
*.egg-info/*
*.egg
*.egg/*
tests/*/*
