# Note: klayout is not included as it should be installed separately
# from the official website: https://www.klayout.de/build.html 
# Note: gdspy is not included as it should be installed separately. Needs to be installed with conda.

klayout==0.29.10
gdspy>=1.6.12