# Optional dependencies for specific features
# Visualization and Analysis
matplotlib
seaborn
plotly

# Performance and Processing
numba==0.60.0
psutil==5.9.8
joblib>=1.3.2
dask==2024.6.2

# Simulation and Design
pyaedt>=0.6.46
pyarrow==15.0.1
# Database and API
Requests==2.32.3
PyGithub==2.4.0
GitPython==3.1.43
tabulate
prettytable

# Note: klayout is not included as it should be installed separately
# from the official website: https://www.klayout.de/build.html 
# Note: gdspy is not included as it should be installed separately. Needs to be installed with conda.
