addict
datasets
huggingface_hub
pandas
pyEPR
python-dotenv
scipy
scqubits
seaborn
setuptools
tabulate
sphinx
qiskit-sphinx-theme
nbsphinx
jupyter_sphinx
sphinx_copybutton
sphinx_design
reno
sphinxcontrib-katex
SQuADDS
